{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<div class="container">
		<div class="row">
			<h1 class="mt-4 titrePolMen">Mentions légales</h1><hr>

			<h3 class="mt-4">Propriétaire du site</h3>

			<p class="paragraphePolMen">Nom de la société :
				<b>
					<i>Village Green</b>
				</i>
			</p>
			<p class="paragraphePolMen">Forme juridique : SARL au capital de  50.500 euros</p>
			<p class="paragraphePolMen">Adresse du siège social : 58, rue de Quelquepart, 75000, Paris</p>
			<p class="paragraphePolMen">Numéro de téléphone : 09/**/**/**/**</p>
			<p class="paragraphePolMen">Adresse mail : villagegreen@laposte.fr</p>
			<p class="paragraphePolMen">Numéro SIRET : 89423497854123</p>
			<p class="paragraphePolMen">Numéro TVA intracommunautaire: FR 40 894234978</p>

			<h3 class="mt-4">Directeur de la publication</h3>

			<p class="paragraphePolMen">Nom du directeur : Monsieur Igor Gonzola</p>
			<p class="paragraphePolMen">Fonction : Patron de
				<b>
					<i>Village Green</i>
				</b>
			</p>
			<p class="paragraphePolMen">Adresse email du directeur : igorgonzola@skyrock.fr</p>

			<h3 class="mt-4">Hébergement du site</h3>

			<p class="paragraphePolMen">Le site est hébergé par la société OVH</p>
			<p class="paragraphePolMen">Adresse : 2 rue Kellermann, 59100 Roubaix</p>
			<p class="paragraphePolMen">Numéro de téléphone de l'hébergeur : 1007</p>
			<p class="paragraphePolMen">Site web de l'hébergeur :
				<a href="https://www.ovhcloud.com/fr/">
					<u>OVH</u>
				</a>
			</p>

			<h3 class="mt-4">Conception et réalisation du site</h3>

			<p class="paragraphePolMen">Nom de la société ou de la personne responsable : Monsieur Igor Gonzola</p>
			<p class="paragraphePolMen">igorgonzola@skyrock.fr</p>
			<p class="paragraphePolMen">Numéro de téléphone du contact : +33 6 ** ** ** **</p>

			<h3 class="mt-4">Propriété intellectuelle</h3>

			<p class="paragraphePolMen">Le contenu du site Village Green, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société
				<b>
					<i>Village Green</i>
				</b>
				à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>

			<br>

			<p class="paragraphePolMen">Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord par écrit de
				<b>
					<i>Village Green</i>
				</b>. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par
				<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000032655082">
					<u>les articles L.335-2 et suivants</u>
				</a>
				du
				<i>Code de la propriété intellectuelle.</i>
			</p>

			<h3 class="mt-4">Protection des données personnelles</h3>

			<p class="paragraphePolMen">En application de la
				<a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460/">
					<u>loi n°78-17 du 6 janvier 1978 modifiée</u>
				</a>, relative à l'informatique, aux fichiers et aux libertés,les utilisateurs disposent d'un droit d'accès, de rectification, de modificationet de suppression concernant des données qui les concernant personnellement. Ce droit peut être exercé en nous envoyant un courrier à l'adresse postale suivante : 58, rue de Quelquepart, 75000, Paris, ou par email à thedistrict@laposte.fr.

				<h3 class="mt-4">Cookies</h3>
			</p>
			<p class="paragraphePolMen">Le site
				<b>
					<i>Village Green</i>
				</b>
				peut être amené à vous demander l'acceptation des cookies pour des besoins de statistiques et d'affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockéees sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations.</p>

			<h3 class="mt-4">Litiges</h3>

			<p class="paragraphePolMen">Les présentes conditions du site
				<b>
					<i>Village Green</i>
				</b>
				sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusives des tribunaix dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>

		</div>
	</div>



{% endblock %}
