{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

<div class="container">
		<div class="row">
			<h1 class="mt-4 titrePolMen">Politique de confidentialité</h1>
			<hr>

			<h2 class="mt-4">Introduction</h2>

			<p class="paragraphePolMen">Bienvenue sur le site de
				<b>
					<i>Village Green</i>
				</b>. La protection de vos données personnelles est une priorité pour nous. Cette politique de confidentialité explique quelles informations nous collections, comment nous les utilisons et les partageons, ainsi que vos droits concernants ces informations.</p>

			<h3 class="mt-4">1. Informations collectées</h3>

			<p class="paragraphePolMen">Nous collections différents types d'informations, y compris :</p>
			<ul class="listePolMen">
				<li>Informations d'identification personnelles : Nom, adresse email, numéro de téléphone, adresse postale, etc...</li>
				<li>Informations de réservation : Détails de vos réservations, préférences alimentaires, demandes, spéciales, etc...</li>
				<li>Informations de paiement : Détails de carte de crédit ou autres moyens de paiement pour traiter les transactions.</li>
				<li>Informations techniques : Adresse IP, type de navigateur, pages visitées, durée de la visite, etc...</li>
			</ul>

			<h3 class="mt-4">2. Utilisation des informations</h3>

			<p class="paragraphePolMen">Les informations que nous collectons sont utilisées pour :</p>
			<ul class="listePolMen">
				<li>Gérer vos réservations et commandes.</li>
				<li>Améliorer notre service client.</li>
				<li>Envoyer des communications marketing, si vous y avez consenti.</li>
				<li>Analyser et améliorer notre site web et nos services.</li>
				<li>Respecter nos obligations légales.</li>
			</ul>

			<h3 class="mt-4">3. Partage des informations</h3>

			<p class="paragraphePolMen">Nous ne vendons ni ne louons vos informations personnelles à des tiers. Toutefois, nous pouvons partager vos informations avec :</p>
			<ul class="listePolMen">
				<li>Pretataires de services : Fournisseurs tiers qui nous aifent à exploiter notre site web, à traier les paiements, à livrer des commandes, etc...
				</li>
				<li>Autorités légales : Si la loi l'exige ou pour protéger nos droits
				</li>
			</ul>

			<h3 class="mt-4">4. Sécurité des données</h3>

			<p class="paragraphePolMen">Nous mettons en &#x0153;uvres des mesures de sécurité appropriées pour protéger vos informations personnelles contre l'accès non autorisé, la modification, la divulgation ou la destruction de vos données.</p>

			<h3 class="mt-4">5. Vos droits</h3>

			<p class="paragraphePolMen">Vous avez le droit de :</p>
			<ul class="listePolMen">
				<li>Accéder à vos informations personnelles.</li>
				<li>Modifier ou supprimer vos informations personnelles.</li>
				<li>Obtenir une copie de vos informations personnelles.</li>
				<li>Vous opposer au traitement de vos informations personnelles à des fins de marketing.</li>
			</ul>
			<p class="paragraphePolMen">Pour exercer ces droits, veuillez nous contacter à "villagegreen@laposte.fr"</p>

			<h3 class="mt-4">6. Cookies</h3>

			<p class="paragraphePolMen">Nous utilisons des cookies pour améliorer votre expérience sur notre site. Les cookies sont de petits fichiers texte stockés sur votre appareil. Vous pouvez configurer botre navigateur pour refuser les cookies mais cela peut affecter certaines fonctionnalités du site.</p>

			<h3 class="mt-4">7. Modifications de la Politique de Confidentialité</h3>

			<p class="paragraphePolMen">Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. Toute modification sera publiée sur cette page avec une date de mise à jour revisée.</p>

			<h3 class="mt-4">8. Contact</h3>

			<p class="paragraphePolMen">Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à :</p>
			<ul class="listePolMen">
				<li>Village Green</li>
				<li>58, rue de Quelquepart, 75000, Paris</li>
				<li>09/**/**/**/**</li>
				<li>villagegreen@laposte.fr</li>
			</ul>

			<p class="text-center fs-3 paragraphePolMen">Date de mise à jour : 19 juillet 2024</p>

		</div>
	</div>

{% endblock %}
