/*Header*/

.headerBackground {
    background-color: #784833;
}

body {
    background-color: #956E4C;
}

.VillageGreenTitle {
    font-weight: bolder;
    font-size: 80px;
    color: #C67B12;
    /*border-style: double;
    border-radius: 5px;*/
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.9), /* Ombre à droite et en bas */
        -2px -2px 4px rgba(0, 0, 0, 0.9), /* Ombre à gauche et en haut */
        2px -2px 4px rgba(0, 0, 0, 0.9), /* Ombre en haut à droite */
        -2px 2px 4px rgba(0, 0, 0, 0.9); /* Ombre en bas à gauche */
    margin-left: 220px;
}

/*Footer*/

.footerFixed {
    background-color: black;
}

.reseauSociauxFooter {
    list-style: none;
    padding: 0;
    gap: 10px;
    align-items: center;
}

.txtPartageFooter {
    margin-top: 18px;
}

p, h5, small {
    color:white;
}

.iconeSizeFooter {
    font-size: 27px;
}

.custom-form {
    max-height: 40px;
}

.buttonMailFooter {
    margin-left: 200px;
}

.iconeGithubFooter {
    margin-top: 37px;
}

#EldenGlitchDev {
    margin-top: 37px;
    font-size: 11px;
}

hr {
    height : 4px;
    background-color: white;
    width: 100%;
}

/*Page d'accueil*/

.barreListeCat {
    background-color: black;
}

ul.list-unstyled li {
    margin-right: 55px;
}