{% extends 'base.html.twig' %}

{% block title %} Sous catégories {% endblock %}

{% block body %}

	<div class='container-fluid'>
        <div class='row'>

            {% for souscategorie in souscategories %}

                <p>{{ souscategorie.NomSousCat }}</p>
                <img src="{{ asset ('img/sous_categories/' ~ souscategorie.ImageSousCat) }}" alt="{{ souscategorie.ImageSousCat }}" width="90px" height="100px" class="rounded">

            {% endfor %}


        </div>
    </div>


{% endblock %}